__pycache__/
*.pyc
.pytest_cache/
.conjunction/
.snapshots/
*.tar.gz
*.tar.zst
*.log
out/
pkgcache/
target/
*.png
*.jpeg
*.jpg
!assets/**/*.png
!assets/*.png
!archiso/airootfs/usr/share/icons/**/*.png
!archiso/airootfs/usr/share/pixmaps/*.png
!archiso/airootfs/usr/share/conjunction/**/*.png
!docs/design/screenshots/*.png

