[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=inode/directory
Actions=RunConjunctionApp
X-KDE-Pattern=*.app
X-KDE-Priority=TopLevel

[Desktop Action RunConjunctionApp]
Name=Run Application
Icon=system-run
Exec=open %f
