[Desktop Entry]
Type=Application
Name=Welcome to Conjunction OS
Comment=Welcome application for Conjunction OS
Exec=/usr/local/bin/conjunction-welcome-gui
Icon=conjunction-welcome
Terminal=false
Categories=System;Settings;
X-KDE-autostart-after=panel
