[Desktop Entry]
Version=1.0
Name=Zen Browser
GenericName=Web Browser
Comment=Experience tranquillity while browsing the web
Exec=/usr/local/bin/zen %u
Icon=zen-browser
Terminal=false
Type=Application
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;
Categories=Network;WebBrowser;
StartupNotify=true
StartupWMClass=zen-alpha
