[Desktop Entry]
Type=Application
Name=Install Conjunction Linux
GenericName=Live System Installer
Comment=Install Conjunction Linux permanently to disk
Exec=/usr/bin/conjunction-installer
Icon=conjunction-installer
Terminal=false
Categories=System;Settings;
StartupNotify=true
