[Desktop Entry]
Version=1.0
Type=Application
Name=Files
Comment=Conjunction File Explorer
Exec=conjunction-files
Icon=system-file-manager
Terminal=false
Categories=System;FileManager;
MimeType=inode/directory;
StartupNotify=true
