[Desktop Entry]
Version=1.0
Type=Application
Name=Terminal
Comment=Conjunction Terminal Host
Exec=conjunction-terminal
Icon=utilities-terminal
Terminal=false
Categories=System;TerminalEmulator;
StartupWMClass=conjunction-terminal
StartupNotify=true
