<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN" "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>
  <vendor>Conjunction Project</vendor>
  <vendor_url>https://github.com/echo-ilovech3ss/conjunction</vendor_url>
  <icon_name>package-x-generic</icon_name>

  <action id="org.conjunction.packages.remove">
    <description>Remove system packages</description>
    <message>Authentication is required to remove system software packages.</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>
</policyconfig>
